*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.nrepl*
.nrepl-port
.repl
figwheel_server.log
lib
node_modules
out
resources/public/js
target
package-lock.json
I18N.html
.floo
.flooignore
.asciidoctor
.cpcache
.shadow-cljs
resources/public/workspaces
