{:deps     {:aliases [:test :dev]}
 :nrepl    {:port 9000}
 :dev-http {9001 "resources/public"}
 :builds   {:test     {:target           :browser-test
                       :test-dir         "resources/public/js/test"
                       :ns-regexp        "-spec$"
                       :compiler-options {:static-fns false} ; required for mocking to work
                       :devtools         {:http-port          9002
                                          :http-resource-root "public"
                                          :http-root          "resources/public/js/test"}}

            :ci-tests {:target           :karma
                       :js-options       {:js-provider :shadow}
                       :compiler-options {:static-fns false} ; required for mocking to work
                       :output-to        "target/ci.js"
                       :ns-regexp        "-spec$"}


            :workspaces
            {:target           nubank.workspaces.shadow-cljs.target
             :ns-regexp        "-cards$"
             :output-dir       "resources/public/js/workspaces"
             :asset-path       "/js/workspaces"
             :compiler-options {:external-config {:fulcro {:html-source-annotations? true}}}
             :preloads         [com.fulcrologic.fulcro.inspect.preload
                                com.fulcrologic.fulcro.inspect.dom-picker-preload]}
            #_{:target     nubank.workspaces.shadow-cljs.target
               :ns-regexp  "-ws$"
               :output-dir "resources/public/js/workspaces"
               :asset-path "js/workspaces"
               :devtools   {:http-port          9003
                            :http-resource-root "public"
                            :http-root          "resources/public"}}}}

